html{
    overflow: hidden;
}

body{
    margin: 0;
}

input[type="file"]{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
}

.navbar>span{
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 25px;
    font-weight: 700;
}

.navbar>span:hover{
    cursor: pointer;
    color: grey;
}

#header{
    animation: fadein .5s;
}

.content{
    position: absolute;
    top: 300px;
    width: 80%;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.nav-wrapper{
    width: 100%;
    display: inline-block;
}

.nav-button{
    width: 215px;
    min-width: 150px;
    font-size: 1.25em;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    font-weight: bold;
    height: 60px;
    border-radius: 50px 50px 0px 0px;
    outline: none;
}

.nav-button:hover{
    color: white;
    background-color: black;
}

.delete{
    position: relative;
    top: 16px;
}

#importfile{
    display: inline-block;
    text-align: center;
}

#importfile span{
    position: relative;
    top: 15px;
}

#upload{
    cursor: default;
    position: relative;
    top: 16px;
}

#logout{
    position: relative;
    top: 50px;
}

.error{
    display: none;
    color: tomato;
    animation: fadein .8s;
}

.file-error{
    position: relative;
    text-align: center;
    display: block;
}

.success{
    position: relative;
    text-align: center;
    display: block;
    color: lightgreen;
    animation: fadein .8s;
}

#file-prompt{
    display: none;
    position: absolute;
    top: 260px;
    left: 10%;
    color: grey;
    animation: fadein .5s;
    pointer-events: none;
}

.table-wrapper{
    overflow-y: scroll;
    font-size: 1.5em;
    height: 500px;
}

.prompt{
    display: none;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 300px;
    text-align: center;
    background-color: white;
    font-weight: bold;
    padding: 5px;
    top: 500px;
    border: 2px dashed;
    animation: fadein .8s;
    z-index: 1000;
}
.prompt button{
    width: 20%;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.view-more:hover{
    background-color: black;
    cursor: pointer;
    color: white;
}

.loader-wrapper{
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: white;
    opacity: 0.7;
}

#view-modal{
    position: absolute;
    top: 300px;
    width: 80%;
    margin: 0 auto;
    right: 0;
    left: 0;
    animation: fadein .8s;
}

#loader{
    position: absolute;
    width:200px;
    height: auto;
    margin: 0 auto;
    top: 300px;
    left: 0;
    right: 0;
}

.view-div{
    font-size: 1.3em;
    width: 50%;
    float: left;
}

#view-back{
    position: relative;
    width: 20%;
    left: 40%;
    top: 20px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
    border: 2px solid black;
}
#view-back:hover{
    color: white;
    background-color: black;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: black;
}

@media screen and (max-width: 1100px){
    .profession{
        display: none;
    }
}

@media screen and (max-width: 800px){
    .table-wrapper{
        font-size: 0.9em;
        font-weight: bold;
    }
    .view-div{
        font-size: 1em;
    }
}

@media screen and (max-width: 600px){
    .view-div{
        font-size: 0.8em;
    }
}

@media screen and (max-width: 450px){
    .table-wrapper{
        font-size: 0.75em;
        font-weight: bold;
    }
    .content{
        width: 100%;
        margin: 0;
    }
    .view-div{
        font-size: 0.6em;
    }
    #view-back{
        font-size: 1em;
    }
}