html{
    overflow: hidden;
}

body{
    margin: 0;
}

input[type="file"]{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
}

.navbar>span{
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 25px;
    font-weight: 700;
}

.navbar>span:hover{
    cursor: pointer;
    color: grey;
}

#header{
    animation: fadein .5s;
}

.content{
    position: absolute;
    top: 30vh;
    width: 80%;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.nav-wrapper{
    width: 100%;
    display: inline-block;
}

.nav-button{
    width: 137px;
    font-size: 0.9em;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    font-weight: bold;
    height: 55.9px;
    border-radius: 50px 50px 0px 0px;
    outline: none;

}

.add{
    position: relative;
    top: 16px;
}

.nav-button:hover{
    color: white;
    background-color: black;
}

.delete{
    position: relative;
    top: 16px;
}

#importfile{
    height: 55px;
    display: inline-block;
    text-align: center;
}

#importfile span{
    position: relative;
    top: 15px;
}

#upload{
    cursor: default;
    position: relative;
    top: 16px;
}

#logout{
    position: relative;
    top: 50px;
}

.error{
    display: none;
    color: tomato;
    animation: fadein .8s;
}

.file-error{
    position: relative;
    text-align: center;
    display: block;
}

.success{
    position: relative;
    text-align: center;
    display: block;
    color: lightgreen;
    animation: fadein .8s;
}

#file-prompt{
    display: none;
    position: absolute;
    top: 26vh;
    left: 10%;
    color: grey;
    animation: fadein .5s;
    pointer-events: none;
    font-size: 0.9em;
}

.table-wrapper{
    overflow-y: scroll;
    font-size: 1em;
    height: 500px;
}

.prompt{
    display: none;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 300px;
    text-align: center;
    background-color: white;
    font-weight: bold;
    padding: 5px;
    top: 40vh;
    border: 2px dashed;
    animation: fadein .8s;
    z-index: 1000;
}
.prompt button{
    width: 20%;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.view-more:hover{
    background-color: black;
    cursor: pointer;
    color: white;
}

.loader-wrapper{
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: white;
    opacity: 0.7;
}

#view-modal{
    position: absolute;
    top: 30vh;
    width: 80%;
    margin: 0 auto;
    right: 0;
    left: 0;
    animation: fadein .8s;
}

#loader{
    position: absolute;
    width:200px;
    height: auto;
    margin: 0 auto;
    top: 30vh;
    left: 0;
    right: 0;
}

.view-div{
    font-size: 1.3em;
    width: 50%;
    float: left;
}

#view-back{
    position: absolute;
    width: 300px;
    left: 40%;
    top: 50vh;
    font-size: 1.5em;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
    border: 2px solid black;
    margin: 0 auto;
    right: 0;
    left: 0;
}
#view-back:hover{
    color: white;
    background-color: black;
}

.mobile-nav{
    display: none;
    position: absolute;
    right: 20px;
    padding: 10px;
}

#nav-icon{
    display: block;
    width: 40px;
    height: 40px;
    background: url(/res/nav-icon.png);
    background-size: cover;
    cursor: pointer;
}
#nav-icon:hover{
    background-image: url(/res/nav-hover.png);
}

.full-nav{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #c1c1c1;
    opacity: 0.95;
    z-index: 9999;
    animation: slidein 1s;
}
.full-nav>ul{
    position: absolute;
    width: 320px;
    top: 15vh;
    margin: 0 auto;
    right: 0;
    left: 0;
    list-style-type: none;
    color: #212121;
    font-weight: bold;
    font-size: 30px;
}

#nav-upload{
    cursor: pointer;
}

@keyframes slidein{
    
    from{top: -100vh}
    to{top:0}

}

.close{
    display: block;
    background: url(/res/close.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 2px;
    left: 2px;
    cursor: pointer;
}

.nav-item{
    margin: 20px;
    cursor: pointer;
    width: 100%;
    border-left: 5px solid white;
}
.nav-item:hover{
    background-color: white;
    transition: all .5s;
}
.nav-item.disabled{
    cursor: default;
    color: grey;
}
.nav-item.disabled:hover{
    background-color: transparent;
    transition: none;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: black;
}

@media screen and (max-width: 1100px){
    .profession{
        display: none;
    }
    .nav-wrapper{
        display: none;
    }
    #desktop-nav{
        display: none;
    }
    .mobile-nav{
        display: block;
    }
    #logout-button{
        display: none;
    }
}

@media screen and (max-width: 800px){
    .table-wrapper{
        font-size: 0.8em;
        font-weight: bold;
    }
    .view-div{
        font-size: 0.7em;
    }
}

@media screen and (max-width: 600px){
    .view-div{
        font-size: 0.7em;
    }
}

@media screen and (max-width: 480px){
    .content{
        width: 100%;
    }
}

@media screen and (max-width: 450px){
    .table-wrapper{
        font-size: 0.75em;
        font-weight: bold;
    }
    .content{
        width: 100%;
        margin: 0;
    }
    .view-div{
        font-size: 0.6em;
    }
    #view-back{
        font-size: 1em;
        width: 100%;
    }
}